.android/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.eclipse/
.gitconfig
.java/
.local/
.mozilla/
.p2/
.pki/
.swt/
Android/
Bureau/
"T\303\251l\303\251chargements/"
android-studio-2025.2.1.7-linux/
eclipse-inst-jre-linux64.tar.gz
eclipse-inst-jre-linux64/
eclipse-workspace/
eclipse/
server.log
